.musician-card {
  border: 1px solid #ddd;
  width: 18rem;
  border-radius: 8px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.musician-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.musician-img {
  width: 100%;
  aspect-ratio: 3 / 2; /* Width : Height => 3:2 means height = 66.66% of width */
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  object-fit: cover; /* Optional, for image scaling */
}

.musician-card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.genres {
  margin-bottom: 0.5rem;
}

.genre-tag {
  background-color: #e0e0e0;
  padding: 0.3rem 0.6rem;
  border-radius: 999px;
  font-size: 0.8rem;
}

.rating-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  font-weight: bold;
}

.rating {
  color: #f5a623;
}
